/Java/nbproject/private/
/Java/build/
/programaJava/nbproject/private/
/programaJava/build/
/Programas en Java/Hola Mundo/HolaMundo/nbproject/private/
/Programas en Java/Hola Mundo/HolaMundo/build/
/Programas en Java/EntradaSalida/nbproject/private/
/Programas en Java/EntradaSalida/build/
/Programas en Java/RevisionDeEstructurasBasicas/nbproject/private/
/Programas en Java/RevisionDeEstructurasBasicas/build/
